---
import CopyCTA from '../../components/CopyCTA.astro';
import Editor from '../../components/Editor.astro';
import Layout from '../../layouts/Layout.astro';

// enable SSR for this endpoint
export const prerender = false;

const { hash } = Astro.params;

const fetchPaste = async () => {
    const API_URL = import.meta.env.PUBLIC_API_URL;
    console.log('🚀 ~ fetchPaste ~ API_URL:', API_URL);

    const response = await fetch(`${API_URL}/${hash}`);
    const json = await response.json();
    console.log('🚀 ~ fetchPaste ~ json:', json);
    return json;
};

const data = await fetchPaste();
---

<Layout>
    <main>
        <CopyCTA />
        <Editor codesnippet={data.error || data.code_snippet} />
    </main>
</Layout>
