---
import Layout from '../layouts/Layout.astro';
import Editor from '../components/Editor.astro';
import ControlPanel from '../components/ControlPanel.astro';
---

<Layout
    seo={{
        title: 'HashCode - Private and Lightweight Pastebin Alternative for Developers',
        description: 'Easily share code snippets with other developers.',
        openGraph: {
            basic: {
                title: 'HashCode - Private and Lightweight Pastebin Alternative for Developers',
                type: 'object',
                image: '/public/favicon.svg',
            },
        },
        twitter: {
            card: 'summary_large_image',
            creator: '@porobertdev',
            title: 'HashCode - Copy-Pasting Service for Developers',
            description:
                'Private and Lightweight Code Pasting Service For Developers',
            image: '/public/favicon.svg',
        },
    }}
>
    <main>
        <ControlPanel />
        <Editor />
    </main>
</Layout>

<style>
    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
</style>
