---
const { codesnippet } = Astro.props;
---

<div class="codesnippet" data-snippet={codesnippet}></div>

<script>
    import { EditorState, Compartment } from '@codemirror/state';
    import { EditorView } from '@codemirror/view';
    import { basicSetup } from 'codemirror';
    import { javascript } from '@codemirror/lang-javascript';
    import { ayuLight as lightTheme, dracula as darkTheme } from 'thememirror';

    let theme =
        window.matchMedia &&
        window.matchMedia('(prefers-color-scheme: dark)').matches
            ? 'dark'
            : 'light';

    const language = new Compartment();
    const themeCompartment = new Compartment();

    const isEditorReadonly = window.location.href.includes('/pastes/')
        ? false
        : true;
    const codeSnippet = document
        .querySelector('div.codesnippet')
        .getAttribute('data-snippet');

    let startState = EditorState.create({
        doc: !codeSnippet ? "console.log('Hello World!');" : codeSnippet,
        extensions: [
            basicSetup,
            language.of(javascript()),
            EditorView.editable.of(isEditorReadonly),
            themeCompartment.of(theme === 'light' ? lightTheme : darkTheme),
        ],
    });

    let view = new EditorView({
        state: startState,
        parent: document.querySelector('main'),
    });

    window
        .matchMedia('(prefers-color-scheme: dark)')
        .addEventListener('change', (event) => {
            console.log('🚀 ~ .addEventListener ~ event:', event);
            theme = theme === 'light' ? 'dark' : 'light';

            view.dispatch({
                effects: themeCompartment.reconfigure(
                    theme === 'light' ? lightTheme : darkTheme
                ),
            });
        });
</script>

<style>
    div.codesnippet {
        visibility: hidden;
    }
</style>
