---
const { codesnippet } = Astro.props;
---

<div class="codesnippet" data-snippet={codesnippet}></div>

<script>
    import { EditorState, Compartment } from '@codemirror/state';
    import { EditorView } from '@codemirror/view';
    import { basicSetup } from 'codemirror';
    import { javascript } from '@codemirror/lang-javascript';

    const language = new Compartment();
    const isEditorReadonly = window.location.href.includes('/pastes/')
        ? false
        : true;
    const codeSnippet = document
        .querySelector('div.codesnippet')
        .getAttribute('data-snippet');

    let startState = EditorState.create({
        doc: !codeSnippet ? "console.log('Hello World!');" : codeSnippet,
        extensions: [
            basicSetup,
            language.of(javascript()),
            EditorView.editable.of(isEditorReadonly),
        ],
    });

    let view = new EditorView({
        state: startState,
        parent: document.body,
    });
</script>

<style>
    div.codesnippet {
        visibility: hidden;
    }
</style>
