---
const questions = [
    {
        question: 'Why HashCode?',
        answer: `The initial goal of this project was to practice API and decoupling frontend from backend. There were many times I needed to paste code, and Pastebin feels bloated, too much for a simple task. I know there are a few other Open Source alternatives, but it still seemed cool to make my own version.`,
    },
    {
        question: 'Are my pastes private?',
        answer: 'Yes. Each paste contains a unique hashed code, so only the people who knows the URL can have access to your paste.',
    },
];
---

<div class="join join-vertical w-full">
    {
        questions.map((q) => (
            <div class="collapse collapse-arrow join-item border-base-300 border">
                <input type="radio" name="my-accordion-4" />
                <div class="collapse-title text-xl font-medium">
                    {q.question}
                </div>
                <div class="collapse-content">
                    <p>{q.answer}</p>
                </div>
            </div>
        ))
    }
</div>
