---
const questions = [
    {
        question: 'Click to open this one and close others',
        answer: 'hello',
    },
    {
        question: 'sup?',
        answer: 'hello',
    },
    {
        question: 'yoo?',
        answer: 'hello',
    },
];
---

<div class="join join-vertical w-full">
    {
        questions.map((q) => (
            <div class="collapse collapse-arrow join-item border-base-300 border">
                <input type="radio" name="my-accordion-4" />
                <div class="collapse-title text-xl font-medium">
                    {q.question}
                </div>
                <div class="collapse-content">
                    <p>{q.answer}</p>
                </div>
            </div>
        ))
    }
</div>
