---

---

<nav>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl text-gradient" href="/"
                ><img src="/favicon.svg" alt="" srcset="" />
                Hash Code</a
            >
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/about">About</a></li>
                <li>
                    <a
                        href="https://github.com/porobertdev/hashcode-frontend"
                        target="_blank">GitHub</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    nav {
        img {
            width: 40px;
        }
    }
</style>
