---
import Navbar from '../components/Navbar.astro';
import { SEO, type Props as SEOProps } from 'astro-seo';

interface Props {
    seo?: SEOProps;
}

const { seo } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{seo?.title ?? 'Astro Website'}</title>

        <!-- astro-seo -->
        <SEO
            title={seo?.title ??
                'HashCode - Private and Lightweight Pastebin Alternative for Developers'}
            description={seo?.description ??
                'Easily share code snippets with other developers.'}
            openGraph={{
                basic: {
                    title:
                        seo?.title ??
                        'HashCode - Private and Lightweight Pastebin Alternative for Developers',
                    type: seo?.openGraph.basic.type ?? 'object',
                    image: seo?.openGraph.basic.image ?? '/public/favicon.svg',
                },
            }}
            twitter={{
                card: seo?.twitter.card ?? 'summary_large_image',
                creator: seo?.twitter.creator ?? '@porobertdev',
                title:
                    seo?.twitter.title ??
                    'HashCode - Copy-Pasting Service for Developers',
                description:
                    seo?.twitter.description ??
                    'APrivate and Lightweight Code Pasting Service For Developers',
                image: seo?.twitter.image ?? '/public/favicon.svg',
            }}
        />
    </head>
    <body>
        <Navbar />
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }
    html {
        font-family: system-ui, sans-serif;
        background: #13151a;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }

    body {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
</style>
